node-red/Node-red Complete ROS.txt
[{"id":"429d9115.fe13","type":"tab","label":"Flow 1"},{"id":"88e85b0a.17882","type":"tab","label":"Watering"},{"id":"ea981799.99956","type":"tab","label":"Machine"},{"id":"61d792fc.de264c","type":"tab","label":"Flow 2"},{"id":"9a5721ea.d12da8","type":"ui_tab","z":"","name":"System","icon":"dashboard"},{"id":"af6c3b1c.2546","type":"ui_group","z":"","name":"/rosout","tab":"9a5721ea.d12da8","disp":true,"width":"6"},{"id":"fc52ec73.48956","type":"ui_group","z":"","name":"Bevattning","tab":"1c2b67ec.87ca48","order":1,"disp":true,"width":"7"},{"id":"1c2b67ec.87ca48","type":"ui_tab","z":"","name":"Översikt","icon":"dashboard","order":"1"},{"id":"db118200.cdb22","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bb4f9fd1.bb844","type":"ui_group","z":"","name":"Maskin","tab":"1c2b67ec.87ca48","disp":true,"width":"7"},{"id":"e1bf18b5.904f5","type":"ui_tab","z":"","name":"Manuell","icon":"dashboard","order":2},{"id":"5bd3044a.c32d8c","type":"ui_group","z":"","name":"Information","tab":"1c2b67ec.87ca48","disp":true,"width":"7"},{"id":"bc3635a6.b5703","type":"ui_text","z":"429d9115.fe13","group":"af6c3b1c.2546","order":0,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"col-center","x":384.5,"y":49,"wires":[]},{"id":"d0441fe1.424cf8","type":"ui_text","z":"429d9115.fe13","group":"af6c3b1c.2546","order":0,"width":0,"height":0,"name":"","label":"Msg","format":"{{msg.payload}}","layout":"col-center","x":385.5,"y":130,"wires":[]},{"id":"5fb888ad.fa16f","type":"template","z":"429d9115.fe13","name":"Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.name}}","output":"str","x":213.5,"y":71,"wires":[["bc3635a6.b5703"]]},{"id":"e388dd71.f837","type":"template","z":"429d9115.fe13","name":"Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.msg}}","output":"str","x":222.5,"y":122,"wires":[["d0441fe1.424cf8"]]},{"id":"ce153fc6.c5d54","type":"inject","z":"429d9115.fe13","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":294.5,"y":296,"wires":[["6757a43b.6781d4"]]},{"id":"6757a43b.6781d4","type":"debug","z":"429d9115.fe13","name":"","active":true,"console":"false","complete":"true","x":908.5,"y":413,"wires":[]},{"id":"7fc77365.44f6cc","type":"ui_numeric","z":"88e85b0a.17882","name":"","label":"Bevattningstid","group":"fc52ec73.48956","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} sek","min":0,"max":"6000","step":1,"x":658.3667602539062,"y":1715.6003093719482,"wires":[["e5a7b61c.3e2c3"]]},{"id":"473ffdd2.f8ea5c","type":"ui_numeric","z":"88e85b0a.17882","name":"","label":"Intervall","group":"fc52ec73.48956","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} sek","min":0,"max":"6000","step":1,"x":663.0666885375977,"y":1662.0001106262207,"wires":[["dfe72994.52d0d8"]]},{"id":"77a6250d.e9077c","type":"ui_text","z":"88e85b0a.17882","group":"fc52ec73.48956","order":1,"width":"7","height":"1","name":"Watering status","label":"","format":"{{msg.payload}}","layout":"row-left","x":1357.3671112060547,"y":54.60004806518555,"wires":[]},{"id":"3962bac9.ba4906","type":"ui_text","z":"88e85b0a.17882","group":"fc52ec73.48956","order":2,"width":"7","height":"1","name":"","label":"Bevattning om","format":"{{msg.payload}}","layout":"row-left","x":1271.3670806884766,"y":1036.600193977356,"wires":[]},{"id":"2a031203.578626","type":"template","z":"88e85b0a.17882","name":"Format calculated value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.water_count}} sek","x":861.3002624511719,"y":1039.2669582366943,"wires":[["3962bac9.ba4906"]]},{"id":"5c156ba6.5f1824","type":"function","z":"88e85b0a.17882","name":"Calc new value","func":"var count = flow.get('water_count');\nvar newCount = Number(count) - 1;\n\nvar newMsg = msg;\nnewMsg.payload = newCount;\n\nflow.set('water_count', newCount);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":457.3000793457031,"y":1042.266897201538,"wires":[["2a031203.578626"]]},{"id":"343c6114.2f7afe","type":"change","z":"88e85b0a.17882","name":"Set count to intervall","rules":[{"t":"set","p":"water_count","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":878.3000640869141,"y":1610.000202178955,"wires":[[]]},{"id":"ac10bea6.ce2878","type":"template","z":"88e85b0a.17882","name":"Watering","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Bevatning utförs","x":973.3000755310059,"y":107.00000762939453,"wires":[["77a6250d.e9077c","93522865.7c102"]]},{"id":"e2e2435b.be3b1","type":"template","z":"88e85b0a.17882","name":"Watering done","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Väntar på beordring","x":996.0000305175781,"y":170.00000381469727,"wires":[["77a6250d.e9077c","696b9255.a3d6c4"]]},{"id":"6b83275b.dd92a8","type":"change","z":"88e85b0a.17882","name":"Set count to intervall value","rules":[{"t":"set","p":"water_count","pt":"flow","to":"watering_intervall","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1195.000259399414,"y":566.0000686645508,"wires":[[]]},{"id":"f3b85351.c53a5","type":"switch","z":"88e85b0a.17882","name":"If count <= 0","property":"water_count","propertyType":"flow","rules":[{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":294.3001174926758,"y":1198.4666996002197,"wires":[["fa0f0e8c.cbc2a"]]},{"id":"e5a7b61c.3e2c3","type":"change","z":"88e85b0a.17882","name":"Set watering time from input","rules":[{"t":"set","p":"watering_time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":898.9999542236328,"y":1716.0002326965332,"wires":[[]]},{"id":"8b253e25.99532","type":"template","z":"88e85b0a.17882","name":"Init value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.watering_time}}","x":485.3000946044922,"y":1714.200122833252,"wires":[["7fc77365.44f6cc"]]},{"id":"7b53c45b.9474c4","type":"template","z":"88e85b0a.17882","name":"Init value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.watering_intervall}}","x":481.99998474121094,"y":1662.0001106262207,"wires":[["473ffdd2.f8ea5c"]]},{"id":"dfe72994.52d0d8","type":"change","z":"88e85b0a.17882","name":"Set intervall value from input","rules":[{"t":"set","p":"watering_intervall","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":899.3000640869141,"y":1660.200122833252,"wires":[[]]},{"id":"7a014a7f.da9a24","type":"template","z":"88e85b0a.17882","name":"Init value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.watering_intervall}}","x":478.0000457763672,"y":1612.0001411437988,"wires":[["343c6114.2f7afe"]]},{"id":"d3323d5c.939a18","type":"comment","z":"88e85b0a.17882","name":"Init values","info":"","x":176.0000228881836,"y":1571.0002155303955,"wires":[]},{"id":"1978a064.e3a888","type":"comment","z":"88e85b0a.17882","name":"Watering logic","info":"","x":198,"y":20,"wires":[]},{"id":"d7b4aba5.123f9","type":"comment","z":"88e85b0a.17882","name":"Handling count down for next watering","info":"","x":280.0000305175781,"y":993.0001125335693,"wires":[]},{"id":"61d1ce6d.a84748","type":"link in","z":"88e85b0a.17882","name":"","links":["effb7751.70a978"],"x":146.00000858306885,"y":1198.5000286102295,"wires":[["f3b85351.c53a5"]]},{"id":"b9cdf660.c8eef8","type":"link in","z":"88e85b0a.17882","name":"","links":["effb7751.70a978"],"x":151.00003051757812,"y":1040.5001125335693,"wires":[["5c156ba6.5f1824"]]},{"id":"300ff3cc.6e8e54","type":"change","z":"88e85b0a.17882","name":"Disbale watering button","rules":[{"t":"set","p":"watering","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":891.0195465087891,"y":1775.0040168762207,"wires":[[]]},{"id":"67d781a5.6c7e1","type":"change","z":"88e85b0a.17882","name":"Save watering state","rules":[{"t":"set","p":"watering","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1169.0196990966797,"y":613.0039143562317,"wires":[[]]},{"id":"86b0fc3a.0eb6","type":"ui_button","z":"88e85b0a.17882","name":"","group":"fc52ec73.48956","order":8,"width":0,"height":0,"passthru":false,"label":"Avbryt","color":"","bgcolor":"grey","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":1119.0195922851562,"y":885.0041542053223,"wires":[["9d2f418a.36fcf8"]]},{"id":"42b4333e.940b74","type":"change","z":"88e85b0a.17882","name":"Watering","rules":[{"t":"set","p":"enabled","pt":"msg","to":"watering","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":285.0195541381836,"y":893.003945350647,"wires":[["86b0fc3a.0eb6"]]},{"id":"9d2f418a.36fcf8","type":"link out","z":"88e85b0a.17882","name":"Watering abort command ","links":["7d0a82da.c2fdc4","c6fc1c34.3082b"],"x":1316.894624710083,"y":885.1914529800415,"wires":[]},{"id":"fa99019e.fd3f78","type":"comment","z":"88e85b0a.17882","name":"Handling abort button for watering","info":"","x":272.01954650878906,"y":839.003924369812,"wires":[]},{"id":"9295ade5.3ef8e","type":"ui_button","z":"88e85b0a.17882","name":"","group":"fc52ec73.48956","order":5,"width":0,"height":0,"passthru":false,"label":"Starta bevattning","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":1156.0197143554688,"y":749.0040283203125,"wires":[["52ccfba9.8c9b44"]]},{"id":"a92c87c6.26543","type":"change","z":"88e85b0a.17882","name":"Watering?","rules":[{"t":"set","p":"enabled","pt":"msg","to":"watering","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":282.94744873046875,"y":751.4466876983643,"wires":[["1fae8954.968d57"]]},{"id":"1fae8954.968d57","type":"function","z":"88e85b0a.17882","name":"Invert","func":"\nif(msg.enabled){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":448.93957901000977,"y":750.6029329299927,"wires":[["9295ade5.3ef8e"]]},{"id":"52ccfba9.8c9b44","type":"link out","z":"88e85b0a.17882","name":"Watering start command ","links":["60f69314.a5da9c","9c622760.181178"],"x":1312.898675918579,"y":749.1876058578491,"wires":[]},{"id":"60f69314.a5da9c","type":"link in","z":"88e85b0a.17882","name":"","links":["52ccfba9.8c9b44"],"x":501.88672065734863,"y":64.14844131469727,"wires":[["12e506a7.5de669"]]},{"id":"f5576c79.13c228","type":"link in","z":"88e85b0a.17882","name":"","links":["effb7751.70a978"],"x":143.01953125,"y":752.0040302276611,"wires":[["a92c87c6.26543"]]},{"id":"a2e43f79.432f4","type":"link in","z":"88e85b0a.17882","name":"","links":["effb7751.70a978"],"x":151.01953887939453,"y":892.0039129257202,"wires":[["42b4333e.940b74"]]},{"id":"f2c5cbdd.bd4f78","type":"comment","z":"88e85b0a.17882","name":"Handling start button for watering","info":"","x":253.01953887939453,"y":697.0039682388306,"wires":[]},{"id":"947f40f6.60fc4","type":"comment","z":"88e85b0a.17882","name":"Watering finished event","info":"","x":225.01953887939453,"y":551.0039319992065,"wires":[]},{"id":"921ffb42.a92f28","type":"comment","z":"88e85b0a.17882","name":"Watering started event","info":"","x":220.01953887939453,"y":419.0039167404175,"wires":[]},{"id":"696b9255.a3d6c4","type":"link out","z":"88e85b0a.17882","name":"Watering finsihed","links":["37b29641.1d36ba"],"x":1296.890733718872,"y":168.19140529632568,"wires":[]},{"id":"37b29641.1d36ba","type":"link in","z":"88e85b0a.17882","name":"","links":["696b9255.a3d6c4","2fee6759.5db9f8"],"x":143.8906364440918,"y":596.1367721557617,"wires":[["6b83275b.dd92a8","67d781a5.6c7e1"]]},{"id":"12e506a7.5de669","type":"change","z":"88e85b0a.17882","name":"Set count to 0","rules":[{"t":"set","p":"water_count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":657.0195846557617,"y":73.0039644241333,"wires":[["ac10bea6.ce2878"]]},{"id":"79b099aa.f75a48","type":"change","z":"88e85b0a.17882","name":"Save watering state","rules":[{"t":"set","p":"watering","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1163.0388641357422,"y":451.0078411102295,"wires":[[]]},{"id":"c07d349.3eaf4c8","type":"link in","z":"88e85b0a.17882","name":"","links":["93522865.7c102","5a215caa.1ec324"],"x":138.8906364440918,"y":456.148455619812,"wires":[["79b099aa.f75a48"]]},{"id":"93522865.7c102","type":"link out","z":"88e85b0a.17882","name":"Watering started","links":["c07d349.3eaf4c8"],"x":1293.898515701294,"y":100.19921875,"wires":[]},{"id":"ac87fc87.4c9b8","type":"comment","z":"88e85b0a.17882","name":"Start command","info":"","x":340.01953887939453,"y":64.00391006469727,"wires":[]},{"id":"7d0a82da.c2fdc4","type":"link in","z":"88e85b0a.17882","name":"","links":["9d2f418a.36fcf8"],"x":502.8828706741333,"y":219.13281059265137,"wires":[["e2e2435b.be3b1"]]},{"id":"83b1d3dc.bfed48","type":"comment","z":"88e85b0a.17882","name":"Abort command","info":"","x":342.01953125,"y":217.00390815734863,"wires":[]},{"id":"73bd7784.c4cf6","type":"comment","z":"88e85b0a.17882","name":"Handling automatic start of watering","info":"","x":269.01953125,"y":1142.0039291381836,"wires":[]},{"id":"fa0f0e8c.cbc2a","type":"link out","z":"88e85b0a.17882","name":"Watering automatic start","links":["dfe91250.777448"],"x":1314.8867359161377,"y":1190.2032165527344,"wires":[]},{"id":"c61ef5f8.31dc78","type":"comment","z":"88e85b0a.17882","name":"Handling automatic stop of watering","info":"","x":271.01953125,"y":1295.003930091858,"wires":[]},{"id":"7dc1382.e6daf48","type":"link out","z":"88e85b0a.17882","name":"Watering automatic stop","links":["dfbaf36d.922b98"],"x":1313.88671875,"y":1350.2032470703125,"wires":[]},{"id":"56363bfe.2a79e4","type":"function","z":"88e85b0a.17882","name":"Watering for spec. time","func":"var count = flow.get('water_count');\nvar target = flow.get('watering_time');\n\nvar newMsg = msg;\nif(count <= (target*-1))\n{\n    newMsg.payload = true;\n}else{\n    newMsg.payload = false;\n}\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":782.0195617675781,"y":1359.0040283203125,"wires":[["bd507b0b.55fde"]]},{"id":"1369b029.a0031","type":"switch","z":"88e85b0a.17882","name":"If count <= 0","property":"water_count","propertyType":"flow","rules":[{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":298.0196075439453,"y":1359.2706565856934,"wires":[["56363bfe.2a79e4"]]},{"id":"bd507b0b.55fde","type":"switch","z":"88e85b0a.17882","name":"Done?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":998.0195922851562,"y":1358.00390625,"wires":[["7dc1382.e6daf48"],[]]},{"id":"1ffd4523.d0bf8b","type":"link in","z":"88e85b0a.17882","name":"","links":["effb7751.70a978"],"x":146.71949863433838,"y":1360.3039274215698,"wires":[["1369b029.a0031"]]},{"id":"dfe91250.777448","type":"link in","z":"88e85b0a.17882","name":"","links":["fa0f0e8c.cbc2a"],"x":499.8828411102295,"y":108.14844703674316,"wires":[["ac10bea6.ce2878"]]},{"id":"2dfba854.89343","type":"comment","z":"88e85b0a.17882","name":"Automatic start command","info":"","x":371.01954650878906,"y":109.00391006469727,"wires":[]},{"id":"c58edc6a.d74c28","type":"comment","z":"88e85b0a.17882","name":"Automatic stop command","info":"","x":370.01953125,"y":169.00390625,"wires":[]},{"id":"dfbaf36d.922b98","type":"link in","z":"88e85b0a.17882","name":"","links":["7dc1382.e6daf48"],"x":502.8828411102295,"y":165.1406307220459,"wires":[["e2e2435b.be3b1"]]},{"id":"2649f18f.8aa496","type":"link in","z":"88e85b0a.17882","name":"","links":["80159f42.e05428"],"x":133.89844131469727,"y":1683.144718170166,"wires":[["7a014a7f.da9a24","7b53c45b.9474c4","8b253e25.99532","300ff3cc.6e8e54"]]},{"id":"3e2154ce.525f14","type":"comment","z":"88e85b0a.17882","name":"Start puls","info":"","x":248.01953125,"y":1654.0039920806885,"wires":[]},{"id":"d22a5485.53042","type":"comment","z":"88e85b0a.17882","name":"Create empty space between buttons","info":"","x":271.01953125,"y":1426.00390625,"wires":[]},{"id":"add63bdc.d850f","type":"ui_template","z":"88e85b0a.17882","group":"fc52ec73.48956","name":"Watering empty space","order":6,"width":"7","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":220.89453887939453,"y":1470.644624710083,"wires":[[]]},{"id":"205ce717.c87e8","type":"ui_text","z":"ea981799.99956","group":"bb4f9fd1.bb844","order":1,"width":0,"height":0,"name":"Machine status","label":"","format":"{{msg.payload}}","layout":"row-left","x":1315.8945770263672,"y":51.75390625,"wires":[]},{"id":"85c57cb3.2c74d8","type":"comment","z":"ea981799.99956","name":"Machine logic","info":"","x":177.01953125,"y":40.00390625,"wires":[]},{"id":"d35aa98b.4ad6c","type":"template","z":"ea981799.99956","name":"Machine waiting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Väntar på beordering","x":932.0197296142578,"y":52.003910064697266,"wires":[["205ce717.c87e8"]]},{"id":"76eda8a7.0b1b5","type":"link in","z":"ea981799.99956","name":"","links":["4e6f34cb.fc6714"],"x":690.8945236206055,"y":20,"wires":[["d35aa98b.4ad6c"]]},{"id":"f7ebdab1.f995b","type":"comment","z":"ea981799.99956","name":"Startup","info":"","x":606.0195388793945,"y":21.003911018371582,"wires":[]},{"id":"51b21a70.555f9c","type":"ui_text","z":"ea981799.99956","group":"bb4f9fd1.bb844","order":2,"width":"7","height":"1","name":"","label":"Kultivering om","format":"{{msg.payload}}","layout":"row-left","x":1228.3671264648438,"y":788.0039672851562,"wires":[]},{"id":"b436aed8.8c649","type":"template","z":"ea981799.99956","name":"Format calculated value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.cultivation_count}} sek","x":841.3002433776855,"y":788.6707229614258,"wires":[["51b21a70.555f9c"]]},{"id":"189d3169.bae757","type":"function","z":"ea981799.99956","name":"Calc new value","func":"var count = flow.get('cultivation_count');\nvar newCount = Number(count) - 1;\n\nvar newMsg = msg;\nnewMsg.payload = newCount;\n\nflow.set('cultivation_count', newCount);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":437.3000602722168,"y":791.6706619262695,"wires":[["b436aed8.8c649"]]},{"id":"586b656.b5f119c","type":"comment","z":"ea981799.99956","name":"Handling count down for next cultivation","info":"","x":260.0000114440918,"y":742.4038772583008,"wires":[]},{"id":"3b62679f.b5455","type":"link in","z":"ea981799.99956","name":"","links":[],"x":131.0000114440918,"y":789.9038772583008,"wires":[["189d3169.bae757"]]},{"id":"9028ef88.8ecbb8","type":"ui_numeric","z":"ea981799.99956","name":"","label":"Intervall","group":"bb4f9fd1.bb844","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} sek","min":0,"max":"6000","step":1,"x":671.1682891845703,"y":2644.403703689575,"wires":[["fb205fa.13e27a"]]},{"id":"650a16c6.73279","type":"change","z":"ea981799.99956","name":"Set cultivation count to intervall","rules":[{"t":"set","p":"cultivation_count","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":916.4016647338867,"y":2592.4037952423096,"wires":[[]]},{"id":"886c327c.2f0a8","type":"template","z":"ea981799.99956","name":"Init value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.cultivation_intervall}}","x":490.1015853881836,"y":2644.403703689575,"wires":[["9028ef88.8ecbb8"]]},{"id":"fb205fa.13e27a","type":"change","z":"ea981799.99956","name":"Set cultivation intervall value from input","rules":[{"t":"set","p":"cultivation_intervall","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":937.4016647338867,"y":2642.6037158966064,"wires":[[]]},{"id":"4d497f6e.0cba18","type":"template","z":"ea981799.99956","name":"Init value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.cultivation_intervall}}","x":486.10164642333984,"y":2594.4037342071533,"wires":[["650a16c6.73279"]]},{"id":"38b888af.8e3d08","type":"comment","z":"ea981799.99956","name":"Init values","info":"","x":184.10162353515625,"y":2553.40380859375,"wires":[]},{"id":"a3ba69d6.d51878","type":"change","z":"ea981799.99956","name":"Set sequens state to not running","rules":[{"t":"set","p":"machine_sequense","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":918.1211585998535,"y":2697.4076023101807,"wires":[[]]},{"id":"e172e4d9.2e22d8","type":"link in","z":"ea981799.99956","name":"","links":["4e6f34cb.fc6714"],"x":142.00004196166992,"y":2665.5483112335205,"wires":[["4d497f6e.0cba18","886c327c.2f0a8","a3ba69d6.d51878","d738bcdd.4511b8","e9d7efd.f80671","7ac903f5.66b49c"]]},{"id":"4c459f9e.e1d748","type":"comment","z":"ea981799.99956","name":"Start puls","info":"","x":256.12113189697266,"y":2636.407585144043,"wires":[]},{"id":"d738bcdd.4511b8","type":"change","z":"ea981799.99956","name":"Set moving state to not running","rules":[{"t":"set","p":"machine_moving","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":920.8828468322754,"y":2748.105463027954,"wires":[[]]},{"id":"7ad6f6c0.f87328","type":"comment","z":"ea981799.99956","name":"Create empty space over buttons","info":"","x":243.0195541381836,"y":1975.0039100646973,"wires":[]},{"id":"362e037a.0f2414","type":"ui_template","z":"ea981799.99956","group":"bb4f9fd1.bb844","name":"Watering empty space","order":4,"width":"7","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":212.89456176757812,"y":2019.6446285247803,"wires":[[]]},{"id":"1d180dbc.16c872","type":"switch","z":"ea981799.99956","name":"If count <= 0","property":"cultivation_count","propertyType":"flow","rules":[{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":276.0195426940918,"y":518.0039196014404,"wires":[["1586018f.cf6efe"]]},{"id":"26756193.bfd876","type":"link in","z":"ea981799.99956","name":"","links":[],"x":127.71943378448486,"y":518.0372486114502,"wires":[["1d180dbc.16c872"]]},{"id":"f5a2e53e.237e7","type":"comment","z":"ea981799.99956","name":"Handling automatic start of cultivation","info":"","x":260.738956451416,"y":461.5411491394043,"wires":[]},{"id":"27541ad4.4e9436","type":"link out","z":"ea981799.99956","name":"Machine automatic start","links":["aa13da9b.1ad138","2ae823c0.3a1454","b273089e.dbc038"],"x":1296.6061611175537,"y":509.7404365539551,"wires":[]},{"id":"d2ba6e0b.bc167","type":"comment","z":"ea981799.99956","name":"Handling automatic stop of cultivation","info":"","x":260.738956451416,"y":592.54114818573,"wires":[]},{"id":"d838fa8d.f503","type":"link out","z":"ea981799.99956","name":"Machine automatic stop","links":["4b3a12cb.9d133c"],"x":1300.6061611175537,"y":652.7404375076294,"wires":[]},{"id":"bddaac8.427a05","type":"function","z":"ea981799.99956","name":"Watering for spec. time","func":"var count = flow.get('cultivation_count');\nvar target = 20;\n\nvar newMsg = msg;\nif(count <= (target*-1))\n{\n    newMsg.payload = true;\n}else{\n    newMsg.payload = false;\n}\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":656.7389831542969,"y":654.5412082672119,"wires":[["9247ed00.73dc98"]]},{"id":"f8ee41fb.a3672","type":"switch","z":"ea981799.99956","name":"If count <= 0","property":"cultivation_count","propertyType":"flow","rules":[{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":277.7390327453613,"y":656.8078746795654,"wires":[["9d467242.1d601"]]},{"id":"9247ed00.73dc98","type":"switch","z":"ea981799.99956","name":"Done?","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":915.739070892334,"y":653.5411319732666,"wires":[["d838fa8d.f503"]]},{"id":"965d21a3.a0c3b8","type":"link in","z":"ea981799.99956","name":"","links":[],"x":123.43893146514893,"y":657.841118812561,"wires":[["f8ee41fb.a3672"]]},{"id":"81f1a38a.557f28","type":"change","z":"ea981799.99956","name":"Set count to intervall value","rules":[{"t":"set","p":"cultivation_count","pt":"flow","to":"cultivation_intervall","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1184.1096229553223,"y":1045.00390625,"wires":[[]]},{"id":"fd025713.07a0a","type":"ui_button","z":"ea981799.99956","name":"","group":"bb4f9fd1.bb844","order":9,"width":0,"height":0,"passthru":false,"label":"Avbryt","color":"","bgcolor":"grey","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":1097.1289253234863,"y":1867.00830078125,"wires":[["af14c049.121848"]]},{"id":"af14c049.121848","type":"link out","z":"ea981799.99956","name":"Watering abort command ","links":["e866e71f.d5cac8"],"x":1301.0040035247803,"y":1868.19544506073,"wires":[]},{"id":"2afacacd.0af9a6","type":"comment","z":"ea981799.99956","name":"Handling abort button for watering","info":"","x":256.1289253234863,"y":1822.0079164505005,"wires":[]},{"id":"5a440b36.b68774","type":"ui_button","z":"ea981799.99956","name":"","group":"bb4f9fd1.bb844","order":5,"width":0,"height":0,"passthru":false,"label":"Starta kultivering","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":899.1290435791016,"y":1428.0079355239868,"wires":[["aca16f74.22fa8"]]},{"id":"f8464d4f.37d8f8","type":"change","z":"ea981799.99956","name":"Sequens running?","rules":[{"t":"set","p":"enabled","pt":"msg","to":"machine_sequense","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":293.0568161010742,"y":1428.45055103302,"wires":[["4205ac9.c6e4f54"]]},{"id":"4205ac9.c6e4f54","type":"function","z":"ea981799.99956","name":"Invert","func":"\nif(msg.enabled){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":477.0489807128906,"y":1428.6069135665894,"wires":[["5a440b36.b68774"]]},{"id":"6382339e.511cec","type":"link out","z":"ea981799.99956","name":"Machine cultivation start command ","links":["43857fda.e645e8","75b748f8.015788"],"x":1303.0080432891846,"y":1426.1914691925049,"wires":[]},{"id":"448701e9.910bd","type":"link in","z":"ea981799.99956","name":"","links":[],"x":133.12889862060547,"y":1429.007893562317,"wires":[["f8464d4f.37d8f8"]]},{"id":"9f4ccbdc.a0ed9","type":"link in","z":"ea981799.99956","name":"","links":[],"x":135.1289176940918,"y":1875.0079050064087,"wires":[["b2d8ae0b.5dd5d8"]]},{"id":"4c31d763.81ed68","type":"comment","z":"ea981799.99956","name":"Handling start button for cultivation","info":"","x":253.12890625,"y":1374.0078315734863,"wires":[]},{"id":"bfb2cf60.ff80b8","type":"comment","z":"ea981799.99956","name":"Machine sequens finished event","info":"","x":244.12890243530273,"y":1030.0077695846558,"wires":[]},{"id":"3f8d6fdc.3275a","type":"comment","z":"ea981799.99956","name":"Machine sequens started event","info":"","x":239.12890243530273,"y":898.0077543258667,"wires":[]},{"id":"4b3a12cb.9d133c","type":"link in","z":"ea981799.99956","name":"","links":["d838fa8d.f503"],"x":133,"y":1075.140609741211,"wires":[["81f1a38a.557f28","9cff93a5.56ae28","c790532e.08d6c8","b5e3499e.7d4e3","897c3c35.0f4548"]]},{"id":"1c41caff.32460d","type":"change","z":"ea981799.99956","name":"Save machine sequens state","rules":[{"t":"set","p":"machine_sequense","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1182.1482276916504,"y":930.0116786956787,"wires":[[]]},{"id":"75b748f8.015788","type":"link in","z":"ea981799.99956","name":"","links":["6382339e.511cec"],"x":129,"y":959.1522827148438,"wires":[["1c41caff.32460d","37b19cc8.26659c"]]},{"id":"d84c87b9.80a308","type":"ui_button","z":"ea981799.99956","name":"","group":"bb4f9fd1.bb844","order":8,"width":0,"height":0,"passthru":false,"label":"Stopp","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":1095.0000648498535,"y":1759.0039796829224,"wires":[["ef3d7066.1f43a8"]]},{"id":"ef3d7066.1f43a8","type":"link out","z":"ea981799.99956","name":"Machine stop command ","links":["82c4c953.d75478"],"x":1292.8750972747803,"y":1759.1912784576416,"wires":[]},{"id":"35d96d19.4886ba","type":"comment","z":"ea981799.99956","name":"Handling abort button for watering","info":"","x":248.00001907348633,"y":1713.003749847412,"wires":[]},{"id":"694e50dd.55089","type":"link in","z":"ea981799.99956","name":"","links":[],"x":127.0000114440918,"y":1766.0037384033203,"wires":[["c2c7da6.af90f28"]]},{"id":"89dce915.50d578","type":"ui_button","z":"ea981799.99956","name":"","group":"bb4f9fd1.bb844","order":7,"width":0,"height":0,"passthru":false,"label":"Återstart","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":1105.0000648498535,"y":1644.0039796829224,"wires":[["901192ae.7a288"]]},{"id":"901192ae.7a288","type":"link out","z":"ea981799.99956","name":"Machine restart command ","links":["6a27e925.73ea78"],"x":1292.8750972747803,"y":1644.1912784576416,"wires":[]},{"id":"78bcb89a.55449","type":"comment","z":"ea981799.99956","name":"Handling restart button for machine","info":"","x":248.00001907348633,"y":1598.003749847412,"wires":[]},{"id":"908346ff.a64e4","type":"link in","z":"ea981799.99956","name":"","links":[],"x":127.0000114440918,"y":1651.0037384033203,"wires":[["fc3bf5ca.bf54e8"]]},{"id":"c3293bbe.6238d","type":"ui_button","z":"ea981799.99956","name":"","group":"bb4f9fd1.bb844","order":6,"width":0,"height":0,"passthru":false,"label":"Starta såning","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":909.0001525878906,"y":1532.0040912628174,"wires":[["ac3b27db.20c538"]]},{"id":"b13c7521.4a623","type":"change","z":"ea981799.99956","name":"Sequens running?","rules":[{"t":"set","p":"enabled","pt":"msg","to":"machine_sequense","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":288.927921295166,"y":1535.4466161727905,"wires":[["bee26d4.40d011"]]},{"id":"bee26d4.40d011","type":"function","z":"ea981799.99956","name":"Invert","func":"\nif(msg.enabled){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":472.9200859069824,"y":1535.6029787063599,"wires":[["c3293bbe.6238d"]]},{"id":"cc6b9956.b15468","type":"link out","z":"ea981799.99956","name":"Machine planting start command ","links":["15b5a56b.f22223","a153614f.417128"],"x":1300.879259109497,"y":1534.1875925064087,"wires":[]},{"id":"e8103754.29c7c8","type":"link in","z":"ea981799.99956","name":"","links":[],"x":129.00000381469727,"y":1536.0039587020874,"wires":[["b13c7521.4a623"]]},{"id":"c335e4ff.716b68","type":"comment","z":"ea981799.99956","name":"Handling start button for placing ..","info":"","x":239.0000114440918,"y":1481.0038967132568,"wires":[]},{"id":"43cbfb01.46e8cc","type":"template","z":"ea981799.99956","name":"Cultivation started","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Kuliverar","x":940.0196380615234,"y":115.00390625,"wires":[["205ce717.c87e8","a6268fde.5d164"]]},{"id":"184c7.3f675b39c","type":"template","z":"ea981799.99956","name":"Planting started","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Sår","x":930.0196380615234,"y":173.00390625,"wires":[["205ce717.c87e8","12759980.ea88af"]]},{"id":"3bc943fb.fdde9c","type":"template","z":"ea981799.99956","name":"Stopped","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Stopped","x":910.0196113586426,"y":228.00391006469727,"wires":[["205ce717.c87e8","4b019135.c8e2f8"]]},{"id":"5b9d7ced.91da14","type":"template","z":"ea981799.99956","name":"Aborting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Avbryter","x":910.0195655822754,"y":283.0039072036743,"wires":[["205ce717.c87e8","1bf0d6ff.67f909"]]},{"id":"1bf0d6ff.67f909","type":"link out","z":"ea981799.99956","name":"Machine aborting","links":["44d480ed.c8ff5","78666650.d51d78","4f492ec8.4024f8"],"x":1153.890869140625,"y":288.1875,"wires":[]},{"id":"37b19cc8.26659c","type":"change","z":"ea981799.99956","name":"Save machine moving state","rules":[{"t":"set","p":"machine_moving","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1186.01953125,"y":975.00390625,"wires":[[]]},{"id":"9cff93a5.56ae28","type":"change","z":"ea981799.99956","name":"Save machine sequens state","rules":[{"t":"set","p":"machine_sequense","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1187.01953125,"y":1089.00390625,"wires":[[]]},{"id":"c790532e.08d6c8","type":"change","z":"ea981799.99956","name":"Save machine moving state","rules":[{"t":"set","p":"machine_moving","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190.8908348083496,"y":1133.9961338043213,"wires":[[]]},{"id":"d7d2f332.3e37d","type":"comment","z":"ea981799.99956","name":"Machine stopped event","info":"","x":212.01953125,"y":1225.00390625,"wires":[]},{"id":"aab74652.65fb8","type":"change","z":"ea981799.99956","name":"Save machine moving state","rules":[{"t":"set","p":"machine_moving","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1188.01953125,"y":1256.00390625,"wires":[[]]},{"id":"4b019135.c8e2f8","type":"link out","z":"ea981799.99956","name":"Machine stopped","links":["88afecb1.7372a8"],"x":1150.89453125,"y":217.20312309265137,"wires":[]},{"id":"88afecb1.7372a8","type":"link in","z":"ea981799.99956","name":"","links":["4b019135.c8e2f8"],"x":127.88672256469727,"y":1264.1445407867432,"wires":[["aab74652.65fb8"]]},{"id":"a153614f.417128","type":"link in","z":"ea981799.99956","name":"","links":["cc6b9956.b15468"],"x":129.8984375,"y":996.13671875,"wires":[["1c41caff.32460d","37b19cc8.26659c"]]},{"id":"82c4c953.d75478","type":"link in","z":"ea981799.99956","name":"","links":["ef3d7066.1f43a8"],"x":685.8945999145508,"y":229.1367244720459,"wires":[["3bc943fb.fdde9c"]]},{"id":"43857fda.e645e8","type":"link in","z":"ea981799.99956","name":"","links":["6382339e.511cec"],"x":690.8945236206055,"y":116.13281726837158,"wires":[["43cbfb01.46e8cc"]]},{"id":"15b5a56b.f22223","type":"link in","z":"ea981799.99956","name":"","links":["cc6b9956.b15468"],"x":690.8828053474426,"y":171.1328182220459,"wires":[["184c7.3f675b39c"]]},{"id":"e866e71f.d5cac8","type":"link in","z":"ea981799.99956","name":"","links":["af14c049.121848"],"x":685.8828048706055,"y":281.1367254257202,"wires":[["5b9d7ced.91da14"]]},{"id":"c2c7da6.af90f28","type":"change","z":"ea981799.99956","name":"Machine running?","rules":[{"t":"set","p":"enabled","pt":"msg","to":"machine_moving","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":289.01953887939453,"y":1766.0039196014404,"wires":[["d84c87b9.80a308"]]},{"id":"b2d8ae0b.5dd5d8","type":"change","z":"ea981799.99956","name":"Sequens running?","rules":[{"t":"set","p":"enabled","pt":"msg","to":"machine_sequense","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":287.01953887939453,"y":1876.0039825439453,"wires":[["fd025713.07a0a"]]},{"id":"fc3bf5ca.bf54e8","type":"function","z":"ea981799.99956","name":"Sequens active but stopped","func":"var sqe = flow.get('machine_sequense');\nvar moving = flow.get('machine_moving');\n\nif(sqe && !moving)\n{\n    msg.enabled = true;\n}\nelse\n{\n    msg.enabled = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":335.01953125,"y":1650.00390625,"wires":[["89dce915.50d578"]]},{"id":"4f492ec8.4024f8","type":"link in","z":"ea981799.99956","name":"","links":["1bf0d6ff.67f909"],"x":134.89844131469727,"y":1121.8984375,"wires":[["7b27ec6a.00808c"]]},{"id":"897c3c35.0f4548","type":"link out","z":"ea981799.99956","name":"Machine finished event","links":["dce507de.195168"],"x":899.8906230926514,"y":1201.9375648498535,"wires":[]},{"id":"dce507de.195168","type":"link in","z":"ea981799.99956","name":"","links":["897c3c35.0f4548"],"x":686.8945608139038,"y":60.88671875,"wires":[["d35aa98b.4ad6c"]]},{"id":"7b27ec6a.00808c","type":"delay","z":"ea981799.99956","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":287.01953506469727,"y":1122.0040340423584,"wires":[["897c3c35.0f4548","c790532e.08d6c8","9cff93a5.56ae28","81f1a38a.557f28","b5e3499e.7d4e3"]]},{"id":"6a27e925.73ea78","type":"link in","z":"ea981799.99956","name":"","links":["901192ae.7a288"],"x":79.8828432559967,"y":154.13281726837158,"wires":[["7e0af306.e5fed4"]]},{"id":"919abfd3.366eb","type":"switch","z":"ea981799.99956","name":"Sequence type","property":"machine_sequence_type","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":500.8828430175781,"y":155.13671875,"wires":[["43cbfb01.46e8cc"],["184c7.3f675b39c"]]},{"id":"b5e3499e.7d4e3","type":"change","z":"ea981799.99956","name":"Set sequence type to 0","rules":[{"t":"set","p":"machine_sequence_type","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1181.019546508789,"y":1179.003924369812,"wires":[[]]},{"id":"e9d7efd.f80671","type":"change","z":"ea981799.99956","name":"Set machine sequence type to 0","rules":[{"t":"set","p":"machine_sequence_type","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":917.8984489440918,"y":2796.117301940918,"wires":[[]]},{"id":"a6268fde.5d164","type":"change","z":"ea981799.99956","name":"Set sequence type to 1","rules":[{"t":"set","p":"machine_sequence_type","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1346.89453125,"y":107.11328601837158,"wires":[["69c5ffb9.0c8528","98a2cac3.a931e8"]]},{"id":"12759980.ea88af","type":"change","z":"ea981799.99956","name":"Set sequence type to 2","rules":[{"t":"set","p":"machine_sequence_type","pt":"flow","to":"2","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1349.019546508789,"y":165.00390625,"wires":[["69c5ffb9.0c8528","98a2cac3.a931e8"]]},{"id":"7e0af306.e5fed4","type":"change","z":"ea981799.99956","name":"Save machine moving state","rules":[{"t":"set","p":"machine_moving","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":266.01953125,"y":154.00390720367432,"wires":[["919abfd3.366eb"]]},{"id":"aca16f74.22fa8","type":"change","z":"ea981799.99956","name":"Set count to intervall value","rules":[{"t":"set","p":"cultivation_count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1136.01953125,"y":1427.0039691925049,"wires":[["6382339e.511cec"]]},{"id":"ac3b27db.20c538","type":"change","z":"ea981799.99956","name":"Set count to intervall value","rules":[{"t":"set","p":"cultivation_count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1141.01953125,"y":1532.00390625,"wires":[["cc6b9956.b15468"]]},{"id":"56234f30.09d9b","type":"inject","z":"88e85b0a.17882","name":"","topic":"Trigger each sec","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":235.3000946044922,"y":1912.733413696289,"wires":[["effb7751.70a978"]]},{"id":"9d87630b.a06e78","type":"inject","z":"88e85b0a.17882","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":186.30002784729004,"y":2053.73370552063,"wires":[["80159f42.e05428"]]},{"id":"effb7751.70a978","type":"link out","z":"88e85b0a.17882","name":"Seconde puls","links":["1ffd4523.d0bf8b","61d1ce6d.a84748","f5576c79.13c228","b9cdf660.c8eef8","a2e43f79.432f4"],"x":439.000036239624,"y":1912.0000114440918,"wires":[]},{"id":"e9f59d50.46981","type":"comment","z":"88e85b0a.17882","name":"Create a seconde puls","info":"","x":215.00003051757812,"y":1865.000015258789,"wires":[]},{"id":"80159f42.e05428","type":"link out","z":"88e85b0a.17882","name":"Startup","links":["2649f18f.8aa496"],"x":441.8985137939453,"y":2056.199520111084,"wires":[]},{"id":"ee93a13b.50db48","type":"comment","z":"88e85b0a.17882","name":"Create startup puls","info":"","x":207.01952743530273,"y":2000.0039157867432,"wires":[]},{"id":"e9ea875d.1b30f8","type":"inject","z":"ea981799.99956","name":"","topic":"Trigger each sec","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":250.01955032348633,"y":2912.0038986206055,"wires":[["de1c1b12.6f40f8"]]},{"id":"9a22f3be.f64df","type":"inject","z":"ea981799.99956","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":201.01948356628418,"y":3053.0041904449463,"wires":[["4e6f34cb.fc6714"]]},{"id":"de1c1b12.6f40f8","type":"link out","z":"ea981799.99956","name":"Seconde puls","links":["908346ff.a64e4","965d21a3.a0c3b8","26756193.bfd876","9f4ccbdc.a0ed9","694e50dd.55089","3b62679f.b5455","e8103754.29c7c8","448701e9.910bd"],"x":453.71949195861816,"y":2911.270496368408,"wires":[]},{"id":"a34d39e9.ecf7","type":"comment","z":"ea981799.99956","name":"Create a seconde puls","info":"","x":229.71948623657227,"y":2864.2705001831055,"wires":[]},{"id":"4e6f34cb.fc6714","type":"link out","z":"ea981799.99956","name":"Startup","links":["e172e4d9.2e22d8","76eda8a7.0b1b5"],"x":456.61796951293945,"y":3055.4700050354004,"wires":[]},{"id":"8bc9e45b.38f96","type":"comment","z":"ea981799.99956","name":"Create startup puls","info":"","x":221.73898315429688,"y":2999.2744007110596,"wires":[]},{"id":"1586018f.cf6efe","type":"switch","z":"ea981799.99956","name":"","property":"machine_sequense","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":447.89068603515625,"y":518.13671875,"wires":[["27541ad4.4e9436"]]},{"id":"9d467242.1d601","type":"switch","z":"ea981799.99956","name":"","property":"machine_sequense","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":447.01954650878906,"y":654.0039234161377,"wires":[["bddaac8.427a05"]]},{"id":"a4196a95.e42b68","type":"ros-subscriber","z":"ea981799.99956","topicname":"/LOMAS_MachineState","typepackage":"LOMAS_ROS_pkg","typename":"machine_status","x":195.5,"y":2105,"wires":[["9ed866b4.0694b8","1c1d5874.024a6","cc82eb9c.23cd68"]]},{"id":"9ed866b4.0694b8","type":"change","z":"ea981799.99956","name":"","rules":[{"t":"set","p":"machineState","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":541.5,"y":2102,"wires":[["885c722.c85c81","1e1875cc.c1b292","c96d9216.86f76"]]},{"id":"b273089e.dbc038","type":"link in","z":"ea981799.99956","name":"","links":["27541ad4.4e9436"],"x":205.5,"y":935,"wires":[["1c41caff.32460d","37b19cc8.26659c"]]},{"id":"69c5ffb9.0c8528","type":"ros-publisher","z":"ea981799.99956","topicname":"LOMAS_MachineCmd","typepackage":"std_msgs","typename":"UInt8","x":1770,"y":131,"wires":[]},{"id":"98a2cac3.a931e8","type":"debug","z":"ea981799.99956","name":"","active":true,"console":"false","complete":"true","x":1720,"y":89,"wires":[]},{"id":"7ac903f5.66b49c","type":"change","z":"ea981799.99956","name":"","rules":[{"t":"set","p":"machineState","pt":"flow","to":"{   \"IsSynced\": false,   \"SequensStarted\": false,   \"MachineMoving\": false,   \"SequenseNr\": 0,   \"ErrorNr\": 0,   \"X\": 0,   \"Y\": 0,   \"Z\": 0,   \"StartTime\": {     \"secs\": 0,     \"nsecs\": 0   },   \"FinishedTime\": {     \"secs\": 0,     \"nsecs\": 0   } }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":878,"y":2841,"wires":[[]]},{"id":"885c722.c85c81","type":"change","z":"ea981799.99956","name":"Set sequens state","rules":[{"t":"set","p":"machine_sequense","pt":"flow","to":"machineState.SequensStarted","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":972,"y":2044,"wires":[[]]},{"id":"1e1875cc.c1b292","type":"change","z":"ea981799.99956","name":"Set moving state","rules":[{"t":"set","p":"machine_moving","pt":"flow","to":"machineState.MachineMoving","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":973,"y":2095,"wires":[[]]},{"id":"c96d9216.86f76","type":"change","z":"ea981799.99956","name":"Set machine sequence type","rules":[{"t":"set","p":"machine_sequence_type","pt":"flow","to":"machineState.SequenseNr","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1005,"y":2143,"wires":[[]]},{"id":"daa8f9b7.2a3f48","type":"ui_text","z":"ea981799.99956","group":"5bd3044a.c32d8c","order":0,"width":0,"height":0,"name":"InfoMachine","label":"","format":"{{msg.payload}}","layout":"row-left","x":1140.5,"y":2360,"wires":[]},{"id":"1c1d5874.024a6","type":"switch","z":"ea981799.99956","name":"","property":"payload.ErrorNr","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":505.5,"y":2197,"wires":[["f67a34d1.9b26a"],["7c668d90.77a0e4"]]},{"id":"2c8908e9.371a88","type":"template","z":"ea981799.99956","name":"Error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Fel","output":"str","x":899.5,"y":351,"wires":[["205ce717.c87e8"]]},{"id":"f2ce9b2e.98b718","type":"link out","z":"ea981799.99956","name":"MachineError","links":[],"x":1077.5,"y":2258,"wires":[]},{"id":"f67a34d1.9b26a","type":"switch","z":"ea981799.99956","name":"","property":"payload.ErrorNr","propertyType":"msg","rules":[{"t":"eq","v":"99","vt":"str"}],"checkall":"true","outputs":1,"x":671.5,"y":2189,"wires":[["48e19c83.83edbc","e90acec2.e9241"]]},{"id":"48e19c83.83edbc","type":"template","z":"ea981799.99956","name":"Error 99","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Maskinen måste nollas.","output":"str","x":886.5,"y":2262,"wires":[["f2ce9b2e.98b718","daa8f9b7.2a3f48"]]},{"id":"cbf533d6.2de028","type":"link in","z":"ea981799.99956","name":"","links":[],"x":683.5,"y":351,"wires":[["2c8908e9.371a88"]]},{"id":"7c668d90.77a0e4","type":"template","z":"ea981799.99956","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":879.5,"y":2443,"wires":[["daa8f9b7.2a3f48"]]},{"id":"cc82eb9c.23cd68","type":"debug","z":"ea981799.99956","name":"","active":true,"console":"false","complete":"false","x":544.5,"y":2041,"wires":[]},{"id":"e90acec2.e9241","type":"template","z":"ea981799.99956","name":"Error 98","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ingen kommunikation med maskin, kolla USB kablage..","output":"str","x":881,"y":2221,"wires":[["f2ce9b2e.98b718","daa8f9b7.2a3f48"]]},{"id":"2a9cbf2b.19213","type":"ui_button","z":"ea981799.99956","name":"","group":"5bd3044a.c32d8c","order":0,"width":0,"height":0,"passthru":false,"label":"Synkroniser","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":195.5,"y":3154,"wires":[["ac6a988f.c1f908"]]},{"id":"ac6a988f.c1f908","type":"link out","z":"ea981799.99956","name":"MachineSyncCmd","links":["b8971bc5.a83bb8"],"x":928.5,"y":3146,"wires":[]},{"id":"b8971bc5.a83bb8","type":"link in","z":"ea981799.99956","name":"","links":["ac6a988f.c1f908"],"x":682.5,"y":407,"wires":[["470bf4cd.c94d84"]]},{"id":"470bf4cd.c94d84","type":"template","z":"ea981799.99956","name":"Sync","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Synkroniserar axlar","output":"str","x":898,"y":402,"wires":[["78546405.8f854c","205ce717.c87e8"]]},{"id":"78546405.8f854c","type":"change","z":"ea981799.99956","name":"Set sequence type to 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1343.5,"y":405,"wires":[["69c5ffb9.0c8528"]]},{"id":"c4ad0ebf.9df7e","type":"ui_button","z":"ea981799.99956","name":"","group":"5bd3044a.c32d8c","order":0,"width":"2","height":"1","passthru":false,"label":"X+","color":"","bgcolor":"","icon":"","payload":"90","payloadType":"num","topic":"","x":174.5,"y":3204,"wires":[["6bb73049.a722e8"]]},{"id":"6bb73049.a722e8","type":"ros-publisher","z":"ea981799.99956","topicname":"LOMAS_MachineCmd","typepackage":"std_msgs","typename":"UInt8","x":1004,"y":3199,"wires":[]},{"id":"30634c8.795ab34","type":"ui_button","z":"ea981799.99956","name":"","group":"5bd3044a.c32d8c","order":0,"width":"2","height":"1","passthru":false,"label":"X-","color":"","bgcolor":"","icon":"","payload":"91","payloadType":"num","topic":"","x":180,"y":3255,"wires":[["6bb73049.a722e8"]]},{"id":"80627e8f.91ebb8","type":"switch","z":"ea981799.99956","name":"Is sync?","property":"machineState.IsSynced","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":545.5,"y":3273,"wires":[[]]}]
